<!-- skill panel -->

<h1 class="title with-icon"><span class="fa fa-code cat-title"></span><em>Programming Skills</em></h1>

{% if site.programmingSkills %}
<div class="grid-block">
    <ul class="list-unstyled list-skills">
        {% for programmingSkill in site.programmingSkills %}
        <li>
            {% if programmingSkill.name %}
            <span class="caption-skill">{{ programmingSkill.name }}</span>
            {% endif %}
            {% if programmingSkill.percentage %}
            <div class="progress">
                <div class="progress-bar" style="width: {{ programmingSkill.percentage }}">
                    <span>{{ programmingSkill.percentage }} </span>
                </div>
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}